/YummyEntities/nbproject/private/
/YummyRemoteInterfaces/nbproject/private/
/YummyApplication/nbproject/private/
/YummyApplication/YummyApplication-war/nbproject/private/
/YummyApplication/YummyApplication-ejb/nbproject/private/
/YummyEntities/build/
/YummyEntities/dist/
/YummyRemoteInterfaces/build/
/YummyRemoteInterfaces/dist/
/YummyApplication/YummyApplication-ejb/dist/
/YummyApplication/YummyApplication-ejb/build/
/YummyApplication/build/
/YummyApplication/YummyApplication-war/build/
/YummyApplication/YummyApplication-war/dist/
/YummyApplication/dist/